{% extends 'base.html.twig' %}

{% block title %}
todo: afficher titre de la série dans l'onglet | {{ parent() }}
{% endblock %}

{% block body %}
    <h2>todo: Le titre de la série</h2>

    {# todo: afficher toutes les infos sur la série #}
{% endblock %}

